# This is a comment
# Each line is a file pattern followed by one or more owners

# Specify the default code owners for the entire repository
*       @rajacloud2244  # Replace with your GitHub username or team
